body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 170px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.btnChange{
    cursor: pointer;
    background-color: antiquewhite;
    border: none;
    padding: 10px;
}
.color{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
